{% extends 'index.html' %}
{% block title %}
    cats
{% endblock %}
{% block content %}

<table id="tablestyle">
    <thead class="border-bottom">
      <tr >
        
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">options</th>
      </tr>
    </thead>
    <tbody>
        {% for x in res %}
      <tr>
        
        <td>{{x.id}}</td>
        <td>{{x.product_name}}</td>
        <td>
          
          <a class="button" type="submit" href="{{url_for('delete',id=x.id)}}">Delete</a>
        
        
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}