<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">    
</head>
<body >
    <div class="topnav">
    <a aria-current="page" href="{{url_for('index')}}">Home</a>
    
    
    <form method="post">
      {{ form.csrf_token }}
      {{ form.category }}
      {{ form.subcate }}
      <input type="submit">
    </form>
    </div>
    <div class="navbar">
      <div class="dropdown">
        <button class="dropbtn">Add 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">category</a>
          <a href="#">Subcategory</a>
          <a href="#">Product</a>
        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn">Update 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{{url_for('index')}}">category</a>
          <a href="#">Subcategory</a>
          <a href="#">Product</a>
        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn">Delete 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{{url_for('index')}}">category</a>
          <a href="#">Subcategory</a>
          <a href="#">Product</a>
        </div>
      </div> 
    
    
    
    </div>
    {% block content %}
        
    {% endblock %}
    <script>
      let cate_select = document.getElementById('category');
      let subcate_select = document.getElementById('subcate');
      
      cate_select.onchange = function() {
        cate = cate_select.value;
        fetch('/subcate/' + cate).then(function(response){
          response.json().then(function(data){
            let optionHTML = '';
            for (let subcate of data.subcates){
              optionHTML += '<option value="' + subcate.id + '">' + subcate.subcate_name + '</option>';

            }
             subcate_select.innerHTML = optionHTML;
          });
        });
      }
    </script>
</body>
</html>