<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">    
</head>
<body >
    <div class="topnav">
    <a aria-current="page" href="{{url_for('index')}}">Home</a>
    
    <form method="post" class="topnav">
        <select name="cat">
          <option value="" selected disabled hidden>Choose category</option>
          {% for o in x %}
              <option value="{{ o.id }}">{{ o.category_name }}</option>
              {% endfor %}
        </select>
        
        <input type="submit">
    </form>
    
    </div>
    <div class="navbar">
      <div class="dropdown">
        <button class="dropbtn">Add 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{{url_for('add')}}">category</a>
          <a href="#">Subcategory</a>
          <a href="#">Product</a>
        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn">Update 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{{url_for('index')}}">category</a>
          <a href="#">Subcategory</a>
          <a href="#">Product</a>
        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn">Delete 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{{url_for('index')}}">category</a>
          <a href="#">Subcategory</a>
          <a href="#">Product</a>
        </div>
      </div> 
    
    
    
    </div>
    {% block content %}
        
    {% endblock %}
</body>
</html>